.home {
    display: flex;
    width: 100%;
    background-color: #f8f9fb;
}

/*Justifies all content to center*/
.home-content{
    flex: 12;
    display: grid;
    justify-content: center;
}

/*Justifies the image to center*/
.home-hero{
    display: flex;
    justify-content: center;
}


/*Sets the image to a fixed width and height stated by the .hom-img div*/
.home-img img{
    width: 100%;
    height: 100%;
}

/*Search window tab*/
.home-search-window{
    margin: 0% 5% 5% 0%;
    text-align: center;
    display: grid;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*Title for TOdays Matches*/
#today_matches_title{
 text-align: center;
 border: 2px solid grey;
 border-radius: 5px;
 padding: 1% 1% 1% 1%;
}

.home-search-window ul{
    justify-content: center;
}
.todaysMatchesContainer{
    margin-bottom: 3%;
    width: 65vw;
}
#uncontrolled-tab-example-tab-team{
    font-weight: bold;
}
#uncontrolled-tab-example-tab-match{
    font-weight: bold;
}
#uncontrolled-tab-example-tab-league{
    font-weight: bold;
}

.homeForm{
    display: grid;
    justify-content: center;
}
.homeForm > *{
    width: 25vw;
    margin: 3%;
}

@media (min-width: 1082px){
    .homeForm > button{
        width: 7vw;
        justify-self: center;
    }
}
@media (max-width: 1082px){
    .form-control{
    width: auto !important;
    }
}
@media (max-width: 600px){
    .homeForm{
        justify-content: start;
        margin-left: 20%;
    }
}

.homeForm > button:hover{
    background-color: #1c2237;
    transform: scale(1.2);
    transition: 0.75s
}

.inputForm label{
    display: flex;
    font-size: larger;
    margin: 4%;
    justify-content: center;
}
.inputForm input{
    margin: 2%;
}
@media (min-width: 882px){
    .carousel {
        width:750px;
        height:435px;
        margin: auto;
    }
}
  
.carouselContainer{
    margin: 0% 0% 2% 0%;
}
.welcomeMessage{
margin: 3.5% 0% 4% 0%;
width: 55vw;
justify-self: center;
color: #1c2237;
border: 2px solid grey;
border-radius: 5px;
padding: 2% 2% 3% 2%;
text-align: center;
}

@media (max-width:1200px){
    .welcomeMessage{
        width: 70vw;
    }
}

@media (max-width:700px){
    .welcomeMessage{
        width: 80vw;
    }
    .carouselContainer{
        margin: 0% 10% 2% 10%;
    }
}

.welcomeMessage h3{
margin-bottom: 4%;
}
.welcomeMessage h6 a{
text-decoration: none;
}
.welcomeMessage h6 a b:hover{
text-decoration: none;
color: #1c2237;
font-size: larger;
transition: 0.75s
}
.welcomeMessage h3 {
font-weight: bold;
}